# core dependencies
pillow
loguru
notebook
numpy
omegaconf
pandas
pyyaml
wandb

# test dependencies
black
codespell
detect-secrets
isort
pre-commit
pylint
pytest

--index-url https://download.pytorch.org/whl/cu128

# learning dependencies
accelerate
basicsr
diffusers
einops
scikit-learn
torch
torchvision
